// Place all the styles related to the twitters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body {
    height: 100%;
}

body {
    text-align: center;
    background-color: #99CCFF;
  }

header {
  font-size: 200%;
}

.container {
    max-width:  60%;
    border-right: solid;
    border-left: solid;
    height: 100%;
    background-color: white;
    overflow:scroll;
  }

.list{
  border-top: groove;
}
